services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: medthrive
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - 5433:5432

volumes:
  pgdata:
